name: Check Makefile

on:
  workflow_call:
    inputs:
      workflows_ref:
        description: 'The current reference in use for the ledger-app-workflow repository'
        required: true
        type: string
      app_repository:
        description: 'The URL of the app repository to check. Defaults to the workflow caller repository URL'
        required: false
        default: ${{ github.repository }}
        type: string
      builder:
        description: "The docker image to build the application in (defaults to ledger-app-builder-lite)"
        required: false
        default: 'ledger-app-builder-lite'
        type: string
      repo_name:
        description: 'The name of the app repository to check. Defaults to the workflow caller repository name'
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      download_manifest_artifact_name:
        description: 'The name of the artifact containing the built manifest'
        required: true
        type: string
      run_for_devices:
        description: 'The list of device(s) on which the checking will run'
        required: true
        type: string

permissions:
  contents: read  # Needed to clone the repositories

env:
  WORKFLOWS_REF: ${{ inputs.workflows_ref }}
  APP_REPOSITORY: ${{ inputs.app_repository }}
  REPO_NAME: ${{ inputs.repo_name }}
  DOWNLOAD_MANIFEST_ARTIFACT_NAME: ${{ inputs.download_manifest_artifact_name }}
  RUN_FOR_DEVICES: ${{ inputs.run_for_devices }}

jobs:
  call_get_app_metadata:
    # This job digests inputs and repository metadata provided by the `ledger_app.toml` manifest
    # file, in order to output relevant directories, compatible devices, and other variables needed
    # by following jobs.
    name: Retrieve application metadata
    uses: ./.github/workflows/_get_app_metadata.yml
    with:
      app_repository: ${{ inputs.app_repository }}
      app_branch_name: ${{ inputs.app_branch_name }}
      compatible_devices: ${{ inputs.run_for_devices }}
      flags: ${{ inputs.flags }}
      use_case: ${{ inputs.use_case }}
    secrets:
      token: ${{ secrets.token }}

  check_makefile:
    name: Check Makefile
    needs: call_get_app_metadata
    strategy:
      fail-fast: false
      matrix:
        device: ${{ fromJSON(inputs.run_for_devices) }}
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/${{ inputs.builder }}:latest

    steps:
      - name: Clone ledger-app-workflows repository
        uses: actions/checkout@v4
        with:
          repository: LedgerHQ/ledger-app-workflows
          path: ./ledger-app-workflows
          ref: ${{ inputs.workflows_ref }}

      - name: Clone app repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.app_repository }}
          path: app-repository
          submodules: recursive

      - name: Download manifest
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.download_manifest_artifact_name }}
          path: ${{ inputs.download_manifest_artifact_name }}

      - name: Set device-specific environment variables
        if: ${{ needs.call_get_app_metadata.outputs.is_rust == 'false' }}
        shell: bash
        run: |
          eval "BOLOS_SDK=\$$(echo ${{ matrix.device }} | tr '[:lower:]' '[:upper:]')_SDK"
          echo "BOLOS_SDK=${BOLOS_SDK}" >> "${GITHUB_ENV}"
          echo "BOLOS_SDK will be set to: ${BOLOS_SDK}"

      - name: Run script
        run: |
            ./ledger-app-workflows/scripts/check_all.sh -c makefile -t "${{ matrix.device }}" \
              -a ./app-repository -m "${DOWNLOAD_MANIFEST_ARTIFACT_NAME}" -w ./ledger-app-workflows
