name: Check icons

on:
  workflow_call:
    inputs:
      ledger-app-workflows_ref:
        description: 'The current reference in use for the ledger-app-workflow repository'
        required: true
        type: string
      app-repository:
        description: 'The URL of the app repository to check. Defaults to the workflow caller repository URL'
        required: false
        default: ${{ github.repository }}
        type: string
      repo-name:
        description: 'The name of the app repository to check. Defaults to the workflow caller repository name'
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      download_manifest_artifact_name:
        description: 'The name of the artifact containing the built manifest'
        required: true
        type: string

jobs:
  check_icons:
    name: Check icons
    runs-on: ubuntu-latest

    steps:
      - name: Clone workflows repository
        uses: actions/checkout@v4
        with:
          repository: LedgerHQ/ledger-app-workflows
          path: ./ledger-app-workflows
          ref: ${{ inputs.ledger-app-workflows_ref }}

      - name: Clone app repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.app-repository }}
          path: app-repository
          submodules: recursive

      - name: Download manifest
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.download_manifest_artifact_name }}
          path: ${{ inputs.download_manifest_artifact_name }}

      - name: Run script
        run: bash ./ledger-app-workflows/scripts/check_icons.sh app-repository ${{ inputs.repo-name }} ${{ inputs.download_manifest_artifact_name }}
