name: Build the application for all devices and upload the artifact

on:
  workflow_call:
    inputs:
      app_repository:
        description: 'The GIT repository to build (defaults to `github.repository`)'
        required: false
        default: ${{ github.repository }}
        type: string
      app_branch_name:
        description: 'The GIT branch to build (defaults to `github.ref`)'
        required: false
        default: ${{ github.ref }}
        type: string
      flags:
        description: "Additional compilation flags (default to none)"
        required: false
        default: ''
        type: string
      upload_app_binaries_artifact:
        description: "The name of the artifact containing the built application binary file(s) to be tested"
        required: false
        default: ''
        type: string
      upload_as_lib_artifact:
        description: "If non-empty, prefixes the built application binary file(s) with this string (default to none)"
        required: false
        default: ''
        type: string
      run_for_devices:
        description: |
          The list of device(s) on which the CI will run.

          Defaults to the full list of device(s) supported by the application as configured in the
          'ledger_app.toml' manifest.
          If the manifest is missing, defaults to ALL (["nanos", "nanox", "nanosp", "stax"]).
        required: false
        default: 'None'
        type: string
      builder:
        description: "The docker image to build the application in (defaults to ledger-app-builder-lite)"
        required: false
        default: 'ledger-app-builder-lite'
        type: string

jobs:
  call_get_app_metadata:
    # This job digests inputs and repository metadata provided by the `ledger_app.toml` manifest
    # file, in order to output relevant directories, compatible devices, and other variables needed
    # by following jobs.
    name: Retrieve application metadata
    uses: ./.github/workflows/_get_app_metadata.yml
    with:
      app_repository: ${{ inputs.app_repository }}
      app_branch_name: ${{ inputs.app_branch_name }}
      compatible_devices: ${{ inputs.run_for_devices }}

  build:
    name: Build application for NanoS, X, S+, and Stax
    needs: call_get_app_metadata
    strategy:
      fail-fast: false
      matrix:
        device: ${{ fromJSON(needs.call_get_app_metadata.outputs.compatible_devices) }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/${{ inputs.builder }}:latest

    steps:
      - name: Clone
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.app_repository }}
          ref: ${{ inputs.app_branch_name }}
          submodules: recursive

      - name: Build application
        shell: bash
        run: |
          if [[ "${{ needs.call_get_app_metadata.outputs.is_rust }}" == "true" ]];
          then
              BUILD_DEVICE_NAME="$(echo ${{ matrix.device }} | sed 's/nanosp/nanosplus/')" && \
              cd ${{ needs.call_get_app_metadata.outputs.build_directory }} && \
              cargo +$RUST_NIGHTLY update ledger_device_sdk && \
              cargo +$RUST_NIGHTLY update ledger_secure_sdk_sys && \
              cargo ledger build ${BUILD_DEVICE_NAME} && \
              echo "BINARY_PATH=${{ needs.call_get_app_metadata.outputs.build_directory }}/target/*" >> $GITHUB_ENV && \
              echo "Build complete"
          else
              eval "BOLOS_SDK=\$$(echo ${{ matrix.device }} | tr [:lower:] [:upper:])_SDK" && \
              echo "BOLOS_SDK value will be: ${BOLOS_SDK}" && \
              make -C ${{ needs.call_get_app_metadata.outputs.build_directory }} -j ${{ inputs.flags }} BOLOS_SDK=${BOLOS_SDK} && \
              echo "BINARY_PATH=${{ needs.call_get_app_metadata.outputs.build_directory }}/build/*" >> $GITHUB_ENV
          fi

      - name: Remove build artifacts before upload
        run: |
          if [[ "${{ needs.call_get_app_metadata.outputs.is_rust }}" == "true" ]];
          then
              find ${{ needs.call_get_app_metadata.outputs.build_directory }}/target -mindepth 3 -maxdepth 3 -type d -exec rm -rf {} +
          else
              find ${{ needs.call_get_app_metadata.outputs.build_directory }}/build/ -mindepth 2 -maxdepth 2 -type d ! -name 'bin' -exec rm -r {} +
          fi

      - name: Prepare to upload as lib
        if: ${{ inputs.upload_as_lib_artifact != '' }}
        shell: bash
        run: |
          DEVICE_NAME="$(echo ${{ matrix.device }} | tr nanosp nanos2)" && \
          find ${{ needs.call_get_app_metadata.outputs.build_directory }}/build/${DEVICE_NAME}/ -type f -name 'app.elf' -exec mv {} ${{ inputs.upload_as_lib_artifact }}_${DEVICE_NAME}.elf \; && \
          rm -r ${{ needs.call_get_app_metadata.outputs.build_directory }}/build/* && \
          mv ${{ inputs.upload_as_lib_artifact }}_${DEVICE_NAME}.elf ${{ needs.call_get_app_metadata.outputs.build_directory }}/build/

      - name: Upload app binary
        if: ${{ inputs.upload_app_binaries_artifact != '' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.upload_app_binaries_artifact }}
          path: ${{ env.BINARY_PATH }}
          if-no-files-found: error
