name: Build, check and deploy a package on pypi.org

on:
  workflow_call:
    inputs:
      repository_name:
        description: 'The GIT repository to deploy (defaults to `github.repository`)'
        required: false
        default: ${{ github.repository }}
        type: string
      branch_name:
        description: 'The GIT branch to deploy (defaults to `github.ref`)'
        required: false
        default: ${{ github.ref }}
        type: string
      package_name:
        description: The name of the package.
        required: true
        type: string
      package_directory:
        description: The directory where the Python package lies (where the setup.py or setup.cfg or
                     pyproject.toml can be found)
        type: string
        default: .
      dry_run:
        description: If true, runs all pre-publishing steps but skips the actual publishing.
        required: false
        type: boolean
        default: false
      publish:
        description: Whether the package should be published or not
        required: true
        type: boolean
      release:
        description: Whether the package should be packaged as a release or not
        required: false
        type: boolean
        default: true
      jfrog_deployment:
        description: If the Python package should be pushed on Ledger Jfrog or not.
                     Ignored if `publish` is `false`.
        type: boolean
        required: false
        default: true
    secrets:
      pypi_token:
        description: A token enabling to push a package on pypi.org
        required: true

env:
  REPOSITORY_NAME: ${{ inputs.repository_name }}
  BRANCH_NAME: ${{ inputs.branch_name }}
  PACKAGE_NAME: ${{ inputs.package_name }}
  PACKAGE_DIRECTORY: ${{ inputs.package_directory }}
  DRY_RUN: ${{ inputs.dry_run }}
  PUBLISH: ${{ inputs.publish }}
  RELEASE: ${{ inputs.release }}
  JFROG_DEPLOYMENT: ${{ inputs.jfrog_deployment }}

jobs:
  package_and_deploy:
    name: Build and deploy a Python Package
    runs-on: public-ledgerhq-shared-small
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:

      - name: Clone
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: ${{ inputs.repository_name }}
          ref: ${{ inputs.branch_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Python package
        working-directory: ${{ env.PACKAGE_DIRECTORY }}
        run: |
          # Needed to workaround this bug https://github.com/pypa/setuptools/issues/4759
          # To be removed when it's fixed
          pip install -U packaging
          pip install --upgrade pip build twine
          python -m build
          pip install .
          python -m twine check dist/*
          echo "TAG_VERSION=$(python -c "from ${PACKAGE_NAME} import __version__; print(__version__)")" >> "${GITHUB_ENV}"

      - name: Display current status
        run: |
          echo "- Tag version: ${TAG_VERSION}"

      - name: Check version against CHANGELOG
        if: ${{ success() && (inputs.publish || inputs.dry_run) }}
        working-directory: ${{ env.PACKAGE_DIRECTORY }}
        run: |
          CHANGELOG_VERSION=$(grep -Po '(?<=## \[)(\d+\.)+[^\]]' CHANGELOG.md | head -n 1)
          if [ "${TAG_VERSION}" == "${CHANGELOG_VERSION}" ]
          then
              exit 0
          fi
          echo "Tag '${TAG_VERSION}' and CHANGELOG '${CHANGELOG_VERSION}' versions mismatch!"
          exit 1

      - name: Publish Python package on pypi.org
        if: ${{ success() && inputs.publish && !inputs.dry_run }}
        run: python -m twine upload "${PACKAGE_DIRECTORY}/dist/*"
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
          TWINE_NON_INTERACTIVE: 1

      - name: Login to Ledger Artifactory
        if: ${{ success() && inputs.publish && inputs.jfrog_deployment && !inputs.dry_run }}
        timeout-minutes: 10
        id: jfrog-login
        uses: LedgerHQ/actions-security/actions/jfrog-login@actions/jfrog-login-1

      - name: Publish Python package on Ledger Artifactory
        if: ${{ success() && inputs.publish && inputs.jfrog_deployment && !inputs.dry_run }}
        run: python -m twine upload "${PACKAGE_DIRECTORY}/dist/*"
        env:
          TWINE_REPOSITORY_URL: https://jfrog.ledgerlabs.net/artifactory/api/pypi/embedded-apps-pypi-prod-green
          TWINE_USERNAME: ${{ steps.jfrog-login.outputs.oidc-user }}
          TWINE_PASSWORD: ${{ steps.jfrog-login.outputs.oidc-token }}
          TWINE_NON_INTERACTIVE: 1

      - name: Generate library build attestations
        if: ${{ success() && inputs.publish && inputs.jfrog_deployment && !inputs.dry_run }}
        timeout-minutes: 10
        uses: LedgerHQ/actions-security/actions/attest@actions/attest-1
        with:
          subject-path: ${{ inputs.package_directory }}/dist/*

      - name: Sign library artifacts
        if: ${{ success() && inputs.publish && inputs.jfrog_deployment && !inputs.dry_run }}
        timeout-minutes: 10
        uses: LedgerHQ/actions-security/actions/sign-blob@actions/sign-blob-1
        with:
          path: ${{ inputs.package_directory }}/dist

      - name: Publish a release on the repo
        if: ${{ success() && inputs.publish && inputs.release && !inputs.dry_run }}
        uses: softprops/action-gh-release@aec2ec56f94eb8180ceec724245f64ef008b89f5  # v2.4.0
        with:
          tag_name: "v${{ env.TAG_VERSION }}"
          token: "${{ secrets.GITHUB_TOKEN }}"
          draft: false
          prerelease: false
          files: |
            LICENSE
            CHANGELOG.md
            ${{ inputs.package_directory }}/dist/*
