name: Unit testing with Codecov coverage checking and upload the result

on:
  workflow_call:
    inputs:
      app_repository:
        description: 'The GIT repository to test (defaults to `github.repository`)'
        required: false
        default: ${{ github.repository }}
        type: string
      app_branch_name:
        description: 'The GIT branch to test (defaults to `github.ref`)'
        required: false
        default: ${{ github.ref }}
        type: string
      test_directory:
        description: "[DEPRECATED] The directory containing the unit-tests to run. If not provided, will be read from ledger_app.toml via ledger-manifest"
        required: false
        default: ''
        type: string
      builder:
        description: "The docker image to build the application in (defaults to ledger-app-builder-lite)"
        required: false
        default: 'ledger-app-builder-lite'
        type: string
      additional_packages:
        description: "Additional APT packages to install (default to none)"
        required: false
        default: ''
        type: string

permissions:
  contents: read
  actions: write  # For upload-artifact

env:
  APP_REPOSITORY: ${{ inputs.app_repository }}
  APP_BRANCH_NAME: ${{ inputs.app_branch_name }}
  TEST_DIRECTORY: ${{ inputs.test_directory }}
  BUILDER: ${{ inputs.builder }}
  ADDITIONAL_PACKAGES: ${{ inputs.additional_packages }}

jobs:
  unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/${{ inputs.builder }}:latest

    steps:
      - name: Installing required packages
        if: ${{ inputs.additional_packages != '' }}
        run: |
          apt install --no-install-recommends -y ${ADDITIONAL_PACKAGES}

      - name: Clone
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.app_repository }}
          ref: ${{ inputs.app_branch_name }}
          submodules: recursive
          token: ${{ secrets.token && secrets.token || github.token }}

      - name: Deprecation warning for test_directory
        if: ${{ inputs.test_directory != '' }}
        run: |
          MSG="Parameter 'test_directory' is deprecated. It will be automatically read from ledger_app.toml using ledger-manifest. Please remove this parameter from your workflow."
          echo ":warning:${MSG}"
          echo ":warning: **Warning**: ${MSG}" >> "${GITHUB_STEP_SUMMARY}"

      - name: Determine test directory
        run: |
          echo "TEST_DIRECTORY=$(ledger-manifest -otu ledger_app.toml)" >> "${GITHUB_ENV}"

      - name: Set working directory
        run: |
          if [ -n "${TEST_DIRECTORY}" ]; then
            echo "WORK_DIR=${TEST_DIRECTORY}" >> "${GITHUB_ENV}"
          else
            echo "WORK_DIR=." >> "${GITHUB_ENV}"
          fi

      - name: Build unit tests
        working-directory: ${{ env.WORK_DIR }}
        run: |
          cmake -Bbuild -H. && make -C build

      - name: Run unit tests
        working-directory: ${{ env.WORK_DIR }}
        run: |
          CTEST_OUTPUT_ON_FAILURE=1 make -C build test

      - name: Generate code coverage
        working-directory: ${{ env.WORK_DIR }}
        run: |
          lcov --directory . -b "$(realpath build/)" --capture --initial -o coverage.base
          lcov --rc lcov_branch_coverage=1 --directory . -b "$(realpath build/)" --capture -o coverage.capture
          lcov --directory . -b "$(realpath build/)" --add-tracefile coverage.base --add-tracefile coverage.capture -o coverage.info
          lcov --directory . -b "$(realpath build/)" --remove coverage.info "*/${TEST_DIRECTORY}/*" -o coverage.info
          genhtml coverage.info -o coverage

      - uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: ${{ inputs.test_directory }}/coverage

      - name: Install codecov dependencies
        run: |
          apt-get -q update && apt-get -q install --no-install-recommends -y curl gpg

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.codecov_token }}
        with:
          files: ./${{ inputs.test_directory }}/coverage.info
          flags: unittests
          name: codecov-${{ inputs.app_repository }}
          fail_ci_if_error: true
          verbose: true
