name: Scripts quality CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
  pull_request:

permissions:
  contents: read

jobs:
  shellcheck:
    name: Shellcheck lint
    uses: ./.github/workflows/reusable_shellcheck.yml
    with:
      shellcheck_opts: -e SC2001 -e SC2002

  misspell:
    name: Check misspellings
    uses: ./.github/workflows/reusable_spell_check.yml

  yamllint:
    name: Check yaml files
    uses: ./.github/workflows/reusable_yaml_lint.yml
