name: Update tags CI

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write
  actions: write

jobs:
  create_changelog_tag:
    name: Add latest tag listed in CHANGELOG.md
    uses: ./.github/workflows/reusable_add_tag.yml
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      app_branch_name: ${{ github.ref }}
      app_tag_overwrite: false

  update_v1_tag:
    name: Update v1 tag
    uses: ./.github/workflows/reusable_add_tag.yml
    needs: create_changelog_tag
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      app_branch_name: ${{ github.ref }}
      app_tag: "v1"
      app_tag_overwrite: true
