name: Workflows quality CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
  pull_request:

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  octoscan:
    name: Check with Octoscan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - id: octoscan
        name: Run octoscan
        uses: synacktiv/action-octoscan@6b1cf2343893dfb9e5f75652388bd2dc83f456b0  # v1.0.0
        with:
          disable_rules: "shellcheck,local-action"

      - name: Upload SARIF file to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "${{steps.octoscan.outputs.sarif_output}}"
          category: octoscan
